@model ClassLibrary1.Bilhete

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bilhete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRegisto" class="control-label"></label>
                <input asp-for="DataRegisto" class="form-control" />
                <span asp-validation-for="DataRegisto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmeId" class="control-label"></label>
                <select asp-for="FilmeId" class="form-control" asp-items="ViewBag.FilmeId"></select>
                <span asp-validation-for="FilmeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescontoId" class="control-label"></label>
                <select asp-for="DescontoId" class="form-control" asp-items="ViewBag.DescontoId"></select>
                <span asp-validation-for="DescontoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
